.full-page {
  width: 100vw;
  height: 100vh;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.absolute {
  position: absolute;
  left: 0;
  top: 0;
}

.min-50 {
  min-width: 50%;
}

.app-container {
  background-color: #678983;
  min-width: 100%;
  min-height: 100vh;
  padding: 1rem;
}

.ant-card {
  margin: 1rem !important;
}
